<!-- <p>footer works!</p> -->

<hr class="bg-blue-600 ml-16 m-6 w-[1770px] h-[6px]"> 
<div class="flex gap-24 mr-6 ml-32">
    <div class="grid ">
        <div class="flex mb-6 gap-4 items-center ">
            <img src="../../../assets/HT_LOGO ICON_RGB_Orange.png" class="w-[150px] h-[150px]" alt="logo">
        <P class="text-3lg font-bold mb-3">Hello Tractor</P>
    </div>
        <p>Technology for smarter, better maintained and more profitable tractors. <br>
            Get access to timely and affordable mechanization service whenever you need it. </p>
        <p class="mt-2">&copy; {{year}}  All rights reserved.</p>
    </div>
    <div class="flex gap-32 ml-64 mt-8 space-y-4 mb-8">
        <ul>
                <ng-container *ngFor="let item of items">
                   <li class="mt-2">{{item}}</li>  
                </ng-container>     
                 
        </ul>
        <ul>
            <ng-container *ngFor="let item of footer_items">
                <li class="mt-2 ml-64">{{item}}</li>  
             </ng-container> 
             
        </ul>
        <div class="grid">
            <p class="mt-2 font-bold">Social Media</p>
            <div class="flex gap-12">
            <img src="" alt="insta">
            <img src="" alt="facebook">
            <img src="" alt="youtube">
        </div>
    </div>
    </div>
    
</div>
