<!-- <p>Emails work!</p> -->

<div class="text-center bg-orange-800 p-10  rounded-lg mt-12 mb-12">
  <div class="gap-2 bg-orange-800">
    <h3 class="text-lg font-bold">Suscribe to daily products updates</h3>
    <p>Sign up for our newsletter and never lose track of your favorite items.</p>
  </div>

  <div class="gap-12 space-x-6">
    <input type="email" class="border-2 border-orange-500 rounded-lg w-[400px] h-[60px] border-orange text-center" placeholder="Enter your email">
    <app-buttons buttonText="Join Now" class="bg-orange-500 hover:bg-orange-400 text-white "><i class="fa fa-envelope" aria-hidden="true"></i></app-buttons>
  </div>
</div>